
	.vcbtn {
		width: 85px;
		height: 40px;
		background: #5ba10e;
		background: -webkit-gradient(linear,left top,left bottom,from(#6fb420),to(#51930d));
		box-shadow: 0 1px 2px #b4b4b4;
		border: 0px;
	}
	.vcbtn:hover{
		background: #eee;
		background: -webkit-gradient(linear,left top,left bottom,from(#aaa),to(#eee));
	}
	#currentTime {
		color: #fff;
	}

.timeBar {
	float: left;
	width: 80%;
	height: 15px;
	background: rgba(255,255,255,.3);
}
.volumeBar {
	float: right;
	width: 20%;
	height: 15px;
	background: rgba(255,200,200,.7);
}
.currentTimeBar {
	display: inline-block;
	border-right: 3px solid rgb(255,200,200);
	text-align: right;
	height: 100%;
	color: #fff;
	background: #5ba10e;
}
.currentVolumeBar {
	display: inline-block;
	text-align: right;
	height: 100%;
	width: 50%;
	color: #fff;
	background: #a10e0e;
}

.buffer {
	width: 600px;
	height: 10px;

	background: #5ba10e;
}